@import url("https://api.fontshare.com/v2/css?f[]=clash-display@700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Unica+One&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

.font-clash {
  font-family: "Clash Display", sans-serif;
}

.font-mont{
  font-family: 'Montserrat', sans-serif;
}

.bg-image{
  background-image: url("../public/assets/images/prize-bg.svg");
}
.font-unica{
  font-family: 'Unica One', cursive;
}